<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyft Cab Services</title>
    <link rel="stylesheet" href="../static/booking.css">
    <link rel="stylesheet" href="../static/home.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:8000/about-us/">About Us</a></li>
                <li><a href="http://127.0.0.1:8000/contact-us/">Contact Us</a></li>
                <li><a href="logout/">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            <h1>{{output.firstname}}Book a Ride with Lyft</h1>
            <p>Safe and reliable rides at affordable prices</p>
        </section>
        <section class="book-a-ride" id="book-a-ride">
            <h2>Book a Ride</h2>
            <form action="" method="POST"> 
                {% csrf_token %}
                <label for="ride-type">Choose a Ride:</label>
                <select name="ride-type" id="ride-type">
                    <option value="lyft-sedan">Lyft a Sedan</option>
                    <option value="lyft-suv">Lyft a SUV</option>
                    <option value="lyft-hatchback">Lyft a Hatchback</option>
                </select>
                <br>
                <label for="location_from">From:</label>
                <input type="text" id="location_from" name="location_from">
                <br>
                <label for="location_to">To:</label>
                <input type="text" id="location_to" name="location_to">
                <br>
                <div id='map' style='width: 100%; height: 400px;'></div>
                <script>
                    mapboxgl.accessToken = 'pk.eyJ1IjoidGFuaXNocS0yOCIsImEiOiJjbGY2a245Z2Mxbm52NDBzOTAzd21lOXdoIn0.t54Xj-liRz-dB8fCEoPW5A';
                    var map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/streets-v11',
                        center: [77.2732, 28.5459],
                        zoom: 13
                    });
                    
                </script>
                <br>
                <button type="submit" class="button">BOOK</button>

            </form>
        </section>
    </main>
    <footer>
        <p>Copyright © Lyft Cab Services
        </p>
    </footer>

</body>

</html>