<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyft Cab Services</title>
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/booking.css">
    <link rel="stylesheet" href="../static/requests.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <script>console.log(output)</script>
                <li><a href="about-us/">About Us</a></li>
                <li><a href="/contact-us/">Contact Us</a></li>
                <li><a href="http://127.0.0.1:8000/profile/">Profile</a></li>
                <li><a href="http://127.0.0.1:8000/logout/">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- drequest.html -->
        
        <section class="hero">
            <h1>Hello {{ output2.output.firstname }}, Drive Safely....</h1>
            <p>Check for the pending requests.</p>
        </section>
        
        <section class="requests">
            <h2>Pending Requests</h2>
            {% if output2.data.0 == none %}
                No Customers Nearby
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>Location</th>
                            <th>Time Away</th>
                            <th>Distance Away</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in output2.data %}
                        <tr>
                            <td>{{ output2.output.firstname }}</td>
                            <td>{{ request.4 }}</td>
                            <td>{{ 15 }}mins</td>
                            <td>{{ 3 }}km</td>
                            <form method="POST"></form>
                            <form method="POST" action="">
                                {% csrf_token %}
                                <td>
                                    <button name="accept"  type="submit" class="accept">Accept</button>
                                    <button name="decline" type="submit" class="decline">Decline</button>
                                </td>
                            </form>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </section>





    </main>
    <footer>
        <p>&copy; 2023 Cab Services. All rights reserved.</p>
    </footer>
</body>

</html>