<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyft Cab Services</title>
    <link rel="stylesheet" href="../../../static/booking.css">
    <link rel="stylesheet" href="../../../static/home.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/about-us/">About Us</a></li>
                <li><a href="/contact-us/">Contact Us</a></li>
                <li><a href="/logout/">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            <h1>{{output.output.firstname}}Track a Ride with Lyft</h1>
            <p>Safe and reliable rides at affordable prices</p>
        </section>
        <section class="book-a-ride" id="book-a-ride">
            <h2>Track your Ride</h2>
                <div id='map' style='width: 100%; height: 400px;'></div>
                <h2>Trip details</h2>
                <p><strong>Distance Away: </strong>{{output.dist}} meters</p>
                <p><strong>Time Away: </strong>{{output.time}} mins</p>
                <p><strong>FARE: </strong>{{output.fare}} Rs</p>
                <br>
                <script>
                    mapboxgl.accessToken = 'pk.eyJ1IjoidGFuaXNocS0yOCIsImEiOiJjbGY2a245Z2Mxbm52NDBzOTAzd21lOXdoIn0.t54Xj-liRz-dB8fCEoPW5A';
                    var map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/streets-v11',
                        center: [77.2732, 28.5459],
                        zoom: 13
                    });
                
                </script><br>
                <form method="POST">
                    {% csrf_token %}
                    <button name="drefresh" id="drefresh" type="submit" class="drefresh"> Refresh </button>
                </form>
        </section>
    </main>
    <footer>
        <p>Copyright © Lyft Cab Services
        </p>
    </footer>

</body>

</html>