<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyft Cab Services</title>
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/booking.css">

</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="about-us/">About Us</a></li>
                <li><a href="/contact-us/">Contact Us</a></li>
                <li><a href="/logout/">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            {% if output %}
            <h1>Hello {{ output }}, Payments</h1>
            {% else %}
            <h1>Book a Ride with Lyft</h1>
            {% endif %}
            <p>Safe and reliable rides at affordable prices</p>

        </section>
        <div class="book-a-ride" id="book-a-ride">
            <h2>Order Summary</h2>
            <p><strong>Pickup Location:</strong> {{result.from}}</p>
            <p><strong>Drop-off Location:</strong> {{result.address}} </p>
            <p><strong>Cab Type:</strong> Standard</p>
            <p><strong>Ride Duration:</strong> {{ result.time}}</p>
            <p><strong>Total Cost:</strong> {{ result.fare}}</p>
            <br>
            <form method="POST">
                {% csrf_token %}
                <button name="rating" type="submit" id ="rating" class="rating">Rate Our Driver {{result.output.firstname}}</button>
            </form>
            
        </div> 
    </main>
    <footer>
        <p>&copy; 2023 Cab Services. All rights reserved.</p>
    </footer>
</body>

</html>