<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyft Cab Services</title>
    <link rel="stylesheet" href="../../static/booking.css">
    <link rel="stylesheet" href="../../static/home.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/about-us/">About Us</a></li>
                <li><a href="/contact-us/">Contact Us</a></li>
                <li><a href="/logout/">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            <h1>{{output.firstname}}Book a Ride with Lyft</h1>
            <p>Waiting For Drivers.....please wait</p>
        </section>
        <section class="book-a-ride" id="book-a-ride">
            <h2>Book a Ride</h2>
            <form action="" method="POST">
                {% csrf_token%}
                <button name="refresh_trip" id="refresh_trip" type="submit" class="refresh_trip">Refresh</button>
                <br>
                <button name="cancel_request" id="cancel_request" type="submit" class="cancel_request">Cancel Ride</button>
                <br>
            </form>
        </section>
    </main>
    <footer>
        <p>Copyright © Lyft Cab Services
        </p>
    </footer>

</body>

</html>