<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lyft Cab Services</title>
    <link rel="stylesheet" href="../static/home.css" />
    <link rel="stylesheet" href="../static/booking.css" />
    <link rel="stylesheet" href="../static/messages.css" />
    <script src="../static/messages.js"></script>
  </head>

  <body>
    {% if messages %}
    <div id="messages" class="messages">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}
    <header>
      <nav>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="/about-us/">About Us</a></li>
          <li><a href="/contact-us/">Contact Us</a></li>
          <li><a href="/login/">Login</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="hero">
        <h1>Create an account on Lyft Cab Services</h1>
        <p>Safe and reliable rides at affordable prices</p>
      </section>

      <section class="book-a-ride" id="book-a-ride">
        <form action="" method="POST">
          {%csrf_token%}
          <label for="ride-type">Signup to continue enjoying the rides:</label>
          <br />
          <label for="ride-type">Signup As</label>
          <select name="ride-type" id="ride-type">
            <option value="Customer">Customer</option>
            <option value="Driver">Driver</option>
          </select>
          <br />
          <label for="email">email:</label>
          <input type="email" id="email" name="email" />
          <br />
          <label for="password">password:</label>
          <input type="password" id="password" name="password" />
          <br />
          <label for="Contact">Contact:</label>
          <input type="number" id="contact" name="contact" />
          <br />
          <label for="firstname">firstname:</label>
          <input type="text" id="firstname" name="firstname" />
          <br />
          <label for="middlename">middlename:</label>
          <input type="text" id="middlename" name="middlename" />
          <br />
          <label for="lastname">lastname:</label>
          <input type="text" id="lastname" name="lastname" />
          <br />
          <label for="DOB">DOB:</label>
          <input type="date" id="DOB" name="DOB" />
          <br />
          <label for="license">license:</label>
          <input type="text" id="license" name="license" />
          <br>
          <button type="submit"  id="signup-button">Signup</button>
          <button type="submit" id="next-button">Next</button>
          
        </form>
        <script>
          document.addEventListener('DOMContentLoaded', function () {
              // Get a reference to the button element
              const nextbutton = document.getElementById('next-button');
              // Set the display property of the button element to "none"
              nextbutton.style.display = 'none';
              
              const rideType = document.getElementById("ride-type");
              const signupButton = document.getElementById("signup-button");
              const license_label = document.getElementById('license');
              license_label.style.display = 'none';
              console.log("sfgs")
              // Add an event listener to the ride type select element
              rideType.addEventListener("change", (event) => {
                if (event.target.value === "Driver") {
                  signupButton.style.display = "none";
                  nextbutton.style.display = 'block';
                  license_label.style.display = 'block';
                } else {
                  signupButton.style.display = "block";
                  nextbutton.style.display = 'none';
                  license_label.style.display = 'none';
                }
                signupButton.addEventListener("click", function () {
                window.location.href = "login/";
                });
                nextButton.addEventListener("click", function () {
                window.location.href = "vehicle/";
                });
              });
              
          });


        </script>
      </section>
    </main>
    <footer>
      <p>&copy; 2023 Cab Services. All rights reserved.</p>
    </footer>
  </body>
</html>
