<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyft Cab Services</title>
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/booking.css">
    <link rel="stylesheet" href="../static/requests.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <script>console.log(output)</script>
                <li><a href="">Home</a></li>
                <li><a href="/about-us/">About Us</a></li>
                <li><a href="/contact-us/">Contact Us</a></li>
                <li><a href="/logout/">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            {% if output %}
            <h1>Hello {{ output.firstname}}, Book a Ride with Lyft</h1>
            {% else %}
            <h1>Book a Ride with Lyft</h1>
            {% endif %}
            <p>Safe and reliable rides at affordable prices</p>
            <a href="/booking/" class="button">Book a Ride</a>
        </section>
        <div class="book-a-ride" id="book-a-ride">
            <h1>Update Profile</h1>
            <form method="POST">
                {% csrf_token %}
                <label for="firstname">First Name:</label>
                <input type="text" name="firstname" ><br><br>
                <label for="lastname">Last Name:</label>
                <input type="text" name="lastname"><br><br>
                <label for="phone">Phone Number:</label>
                <input type="number" name="phone" ><br><br>
                
                <button type="submit" name="update_profile">Update</button>
            </form>
        </div>
    </main>
    <footer>
        <p>&copy; 2023 Cab Services. All rights reserved.</p>
    </footer>
</body>

</html>