<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyft Cab Services</title>
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/booking.css">
    <link rel="stylesheet" href="../static/requests.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <script>console.log(output)</script>
                <li><a href="/">Home</a></li>
                <li><a href="/about-us/">About Us</a></li>
                <li><a href="/contact-us/">Contact Us</a></li>
                <li><a href="/logout/">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            
            <h1>Hello {{ output.owner_firstname}} </h1>
            <p> CHECK YOUR VEHICLES DETAILS</p>

        </section>
        <div class="book-a-ride" id="book-a-ride">

            <h2>Vehicle DETAILS</h2>
            <p><strong>id: </strong>{{output.id}}</p>
            <p><strong>Owner Full Name: </strong>{{output.owner_firstname}} {{output.owner_middlename}} {{output.owner_lastname}}</p>
            <p><strong>Engine no: </strong>{{output.engine_no}}</p>
            <p><strong>Type: </strong>{{output.type}}</p>
            <p><strong>Make: </strong>{{output.make}}</p>
            <p><strong>Model: </strong>{{output.model}}</p>
            <p><strong>Date of manufacturing: </strong>{{output.date_of_manufacture}}</p>
            <p><strong>Valid Till: </strong>{{output.validity}}</p>
            
        </div>
    </main>
    <footer>
        <p>&copy; 2023 Cab Services. All rights reserved.</p>
    </footer>
</body>

</html>